@use "../utility";

.map-button {
  // 1280px以上再使用absolute，以下讓他使用normal flow
  align-self: flex-end;
  width: 153px;
  height: 130px;

  @media (min-width: 1280px) {
    position: absolute;
    right: -21%;
    top: 10%;
  }

  @media (min-width: 1920px) {
    width: 245px;
    height: 215px;
    right: -21%;
    top: 10%;
  }

  background-image: url(@/assets/images/mapButton.png);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  &:hover {
    background-image: url(@/assets/images/mapButtonHover.png);
  }
}

.facebook-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 242px;
  height: 41px;
  background-color: utility.$facebook;
  border-radius: 4px;
  color: #fff;
  line-height: 41px;
  border: none;

  img {
    padding-left: 6px;
  }
  .facebook-text {
    padding-right: 17px;
    font-size: 16px;
    font-weight: 500;
    line-height: 23.17px;
  }
}
