@use "../utility";

.sticky-notes {
  width: 100%;
  background: linear-gradient(to right bottom, transparent 50%, #fff 0)
      no-repeat 0% 0 / 50px 50px,
    linear-gradient(135deg, transparent 35px, #ffffffcc 0);
  font-family: Noto Sans TC;

  @media (min-width: 992px) {
    background: linear-gradient(to right bottom, transparent 50%, #fff 0)
        no-repeat 0% 0 / 100px 100px,
      linear-gradient(135deg, transparent 70px, #ffffffcc 0);

    width: 977px;
  }
}
