.past-record-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  width: 100%;
  padding: 20px;
  gap: 41px;

  @media (min-width: 768px) {
    flex-direction: row;
    padding: 40px;
  }
}

.toggle-box {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @media (min-width: 768px) {
    flex-direction: column;
    align-self: flex-start;
    width: 233px;
  }
  @media (min-width: 768px) {
    a + a {
      margin-top: 38px;
    }
  }

  .toggle-speech-record,
  .toggle-past-works,
  .toggle-related-news {
    min-width: 98px;
    min-height: 53px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 700;
    color: #30363a;
    background-color: #e3eaea;
    border: 5px solid #a7ced4;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    &:hover {
      color: #fff;
      background-color: #a7ced4;
      border: 5px solid #e3eaea;
    }
    @media (min-width: 768px) {
      font-size: 28px;
      font-weight: 700;
      text-align: center;
      width: 182px;
      height: 80px;
      line-height: 50px;
    }
  }
}
